@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 650px) {
  body {
    font-size: 20px;
  }
}

.btn {
  padding: 10px 25px;
  border: 2px solid #1dc896;
  border-radius: 16px;
  background-color: #1dc896;
  font-size: 24px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  border: 2px solid #32e6b1;
  background-color: #138a67;
}
.btn:active {
  border: 1px solid #32e6b1;
  background-color: #1dc896;
}
.btn--submit {
  width: auto;
  padding: 10px 28px;
  font-size: 18px;
  float: right;
  margin: 0 45px 40px;
  border: 1px solid #d8d8d8;
}

.container {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1060px) {
  .container {
    max-width: 790px;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 300px;
  }
}

.intro {
  background-image: url("../img/bgintro.png");
  width: 100%;
  height: 554px;
}
@media (max-width: 840px) {
  .intro {
    height: 500px;
  }
}
@media (max-width: 650px) {
  .intro {
    height: 670px;
  }
}
@media (max-width: 450px) {
  .intro {
    height: 600px;
  }
}

.introbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.menu {
  background-image: url("../img/menuintro.png");
  background-repeat: no-repeat;
  height: 460px;
  width: 230px;
  margin-left: 20px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.menu__title {
  margin-top: 64px;
  margin-left: 45px;
  font-size: 44px;
  font-weight: 400;
  font-family: "Lobster Two", cursive;
  color: #33a088;
}
.menu__title:before {
  content: "";
  background-image: url("../img/titleicon.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  margin-left: 50px;
  padding: 22px 22px;
}
.menu__hr {
  height: 1px;
  border: none;
  border-bottom: 1px solid #000;
  opacity: 0.1;
  margin: 25px 0;
}
.menu__nav {
  margin-left: 45px;
  font-size: 16px;
  line-height: 37px;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__btn {
  color: #7e7e7e;
}
.menu__btn:hover {
  color: black;
}
.menu__btn:active {
  color: darkgray;
}
.menu__burgerbox {
  display: none;
  cursor: pointer;
}
.menu__burger1, .menu__burger2, .menu__burger3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.change .menu__burger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .menu__burger2 {
  opacity: 0;
}
.change .menu__burger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (max-width: 1060px) {
  .menu {
    background-size: 100%;
    position: fixed;
    width: 750px;
    z-index: 1;
    height: 90px;
    border-radius: 5px;
    margin-left: 0;
  }
  .menu__title {
    margin-top: 45px;
    margin-left: 15px;
  }
  .menu__title:before {
    top: 12px;
  }
  .menu__hr {
    margin: 5px 0;
    opacity: 0;
  }
  .menu__nav {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    margin-left: 0;
    background-color: #fff;
    line-height: 50px;
    height: 0;
    visibility: hidden;
  }
  .menu__nav.active {
    visibility: visible;
    font-size: 30px;
    height: 400px;
  }
  .menu__nav div {
    margin-top: 15px;
  }
  .menu__burgerbox {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 10px;
  }
}
@media (max-width: 840px) {
  .menu {
    width: 550px;
  }
}
@media (max-width: 650px) {
  .menu {
    width: 370px;
  }
}
@media (max-width: 450px) {
  .menu {
    width: 270px;
  }
}

.content {
  text-align: center;
  max-width: 650px;
  margin: 120px auto 0 auto;
}
.content__icons {
  margin-left: 40px;
}
.content__icon {
  margin-right: 55px;
  margin-bottom: 75px;
}
@media (max-width: 840px) {
  .content__icon {
    margin: 0 40px 50px 0;
  }
}
@media (max-width: 450px) {
  .content__icon {
    height: 60px;
  }
}
.content__text {
  font-size: 21px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 65px;
}
@media (max-width: 840px) {
  .content__text {
    margin-bottom: 40px;
  }
}
.content__btn {
  width: 194px;
  height: 52px;
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 16px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content__btn:hover {
  background-color: #206658;
  border-color: #6ef5bf;
}

.brends {
  background-color: #f4f4f4;
  height: 120px;
}
.brends__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}
@media (max-width: 450px) {
  .brends__items {
    height: 80px;
  }
}
@media (max-width: 450px) {
  .brends__items {
    height: 40px;
  }
}
.brends__item {
  opacity: 0.2;
  margin: auto;
  height: 70px;
}
@media (max-width: 1060px) {
  .brends__item {
    height: 55px;
  }
}
@media (max-width: 840px) {
  .brends__item {
    height: 45px;
  }
}
@media (max-width: 650px) {
  .brends__item {
    height: 30px;
  }
}
@media (max-width: 450px) {
  .brends__item {
    height: 20px;
  }
}
@media (max-width: 450px) {
  .brends {
    height: 40px;
  }
}

.thanks {
  height: 375px;
}
.thanks__title {
  color: #797979;
  font-size: 30px;
  line-height: 49px;
  max-width: 650px;
  margin: 75px auto 50px auto;
  text-align: center;
}
@media (max-width: 840px) {
  .thanks__title {
    margin: 50px auto 30px auto;
  }
}
@media (max-width: 450px) {
  .thanks__title {
    margin: 30px auto 20px auto;
    line-height: 40px;
  }
}
.thanks__content {
  color: #8d8d8d;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.thanks__btn {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 650px) {
  .thanks {
    height: 450px;
  }
}
@media (max-width: 450px) {
  .thanks {
    height: 520px;
  }
}

.info {
  height: 300px;
  background-color: #1dc896;
  color: #fff;
}
@media (max-width: 840px) {
  .info {
    height: 420px;
  }
}
@media (max-width: 650px) {
  .info {
    height: 650px;
  }
}
@media (max-width: 450px) {
  .info {
    height: 750px;
  }
}

.infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.infobox__item {
  max-width: 385px;
  margin-top: 55px;
}
.infobox__title {
  font-size: 24px;
  line-height: 34px;
}
@media (max-width: 450px) {
  .infobox__title {
    line-height: 30px;
  }
}
.infobox__text {
  margin-top: 20px;
  font-weight: 400;
}
@media (max-width: 840px) {
  .infobox {
    display: block;
  }
  .infobox__item {
    max-width: 100%;
    margin-top: 0;
  }
  .infobox__title {
    padding-top: 30px;
  }
  .infobox__text {
    margin-top: 10px;
  }
}

.map {
  height: 500px;
  background-image: url("../img/bgmap.png");
  background-size: cover;
}
.map__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adress {
  background-color: #e8e8e8;
  height: 130px;
  width: 250px;
  margin: 240px 0 0 70px;
  border-radius: 5px;
}
.adress__title {
  margin: 20px 0 0 25px;
  font-size: 30px;
  line-height: 49px;
  color: #797979;
}
.adress__content {
  margin-left: 25px;
  font-weight: 400;
  color: #8d8d8d;
}
@media (max-width: 1060px) {
  .adress {
    display: none;
  }
}

.contact {
  max-width: 420px;
  background-color: #e8e8e8;
  margin-top: 45px;
  border-top: 9px solid #38e2b0;
  border-radius: 5px;
}
.contact__title {
  font-size: 30px;
  line-height: 49px;
  color: #797979;
  margin: 20px 30px;
}
@media (max-width: 1060px) {
  .contact {
    margin: 45px auto 0 auto;
  }
}
@media (max-width: 650px) {
  .contact {
    max-width: 400px;
  }
}
@media (max-width: 450px) {
  .contact {
    max-width: 300px;
  }
}

input {
  width: 350px;
  padding: 12px 17px;
  margin: 0 0 10px 30px;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 650px) {
  input {
    width: 300px;
  }
}
@media (max-width: 450px) {
  input {
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
  }
}

input:focus {
  border: 2px solid #adadad;
  -webkit-box-shadow: 0px 0px 15px #adadad;
          box-shadow: 0px 0px 15px #adadad;
}

._error {
  -webkit-box-shadow: 0px 0px 7px red;
          box-shadow: 0px 0px 7px red;
}

textarea {
  margin: 0 0 20px 30px;
  padding: 12px 17px;
  width: 350px;
  height: 82px;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 650px) {
  textarea {
    width: 300px;
  }
}
@media (max-width: 450px) {
  textarea {
    margin-left: 20px;
    width: 250px;
  }
}

textarea:focus {
  border: 2px solid #adadad;
  -webkit-box-shadow: 0px 0px 15px #adadad;
          box-shadow: 0px 0px 15px #adadad;
}